<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form #myForm="ngForm" [formGroup]="form" (ngSubmit)="submit(myForm)">
      <p>
        <mat-form-field>
          <input type="mail" matInput placeholder="Mail" formControlName="mail">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </p>
      <p *ngIf="error" class="error">
        Login error. Let's try to change mail or password.
      </p>
      <div class="button">
        <button type="submit" mat-button>Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>