<mat-card>
  <mat-card-content>
    <ul class="container">
      <li *ngFor="let user of users; let i = index" [id]="i">
        <mat-card class="card">
          <mat-card-content>
            <div class="text-data">
              <p>First Name: {{user.first_name}}</p>
              <p>Last Name: {{user.last_name}}</p>
              <p>Email: {{user.email}}</p>
              <p>{{ user.groups.length ? "User groups:" : null}}</p>
              <ul>
                <li *ngFor="let group of user.groups">{{group}}</li>
              </ul>
            </div>
          </mat-card-content>
        </mat-card>
      </li>
    </ul>
  </mat-card-content>
</mat-card>